<!DOCTYPE html>
<html>
<head>
  <title>Admin</title>
  <%= stylesheet_link_tag    "admin/application", media: "all" %>
  <%= csrf_meta_tags %>
</head>
<body class="skin-blue">
    <div class="wrapper">
        <header class="main-header">
            <a href="/admin" class="logo">Test Admin</a>

            <nav class="navbar navbar-static-top" role="navigation">
                <ul class="nav navbar-nav navbar-custom-menu">
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" id="navbar-user-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <%= current_employee.email %>
                      </a>
                      <div class="dropdown-menu" aria-labelledby="navbar-user-link">
                        <%= link_to "ログアウト", '/employees/sign_out', method: :delete, class: 'dropdown-item'  %> 
                      </div>
                    </li>
                </ul>
            </nav>
        </header>

        <%= yield %>
    </div>
    <%= javascript_include_tag "admin/application" %>
</body>
</html>
